<div class = "container">
  <hr class = "footer">
      <small>

        Copyright &copy <a href = "www.w3schools.com"> Creative Chaos </a>
        by <a href="http://www.facebook.com">MuhammadMohsin</a>

      </small>

    <nav>
        <ul>
            <li><%= link_to "Home" ,welcome_home_path %>
            </li>
        </ul>
    </nav>

</div>


